In [1]:
import pandas as pd

In [2]:
# df = pd.read_clipboard()
# df['country'] = df['Country'].str.split('[').str[0]
# df[['country', 'Surrounding countries', 'Count']].to_csv('../data/landlocked-countries.csv', index=False)
landlocked_countries = pd.read_csv('../data/landlocked-countries.csv', comment='#')
landlocked_countries.head()

       country                              surrounding countries  count
0  Afghanistan  Iran, Turkmenistan, Uzbekistan, Tajikistan, Ch...      6
1      Andorra                                      France, Spain      2
2      Armenia                  Iran, Turkey, Georgia, Azerbaijan      4
3      Austria  Germany, Czech Republic, Slovakia, Hungary, Sl...      8
4   Azerbaijan             Russia, Georgia, Armenia, Iran, Turkey      4

In [3]:
population = pd.read_csv('../data/population_total.csv')
pop_melt = population.melt(id_vars='geo', var_name='year', value_name='population')
pop_melt['year'] = pop_melt['year'].astype(int)
pop_melt = pop_melt.rename(columns={'geo': 'country'})
# pop_melt = pop_melt.loc[pop_melt['year'] > 1899] # maybe no need to include the 1800s
pop_melt.head()

       country  year  population
0  Afghanistan  1800     3280000
1      Albania  1800      410000
2      Algeria  1800     2500000
3      Andorra  1800        2650
4       Angola  1800     1570000

In [4]:
# children born per woman
children_born = pd.read_csv('../data/children_per_woman_total_fertility.csv')
children_born_melt = children_born.melt(id_vars='geo', var_name='year', value_name='children_per_woman')
children_born_melt['year'] = children_born_melt['year'].astype(int)
children_born_melt = children_born_melt.rename(columns={'geo': 'country'})
# children_born_melt = children_born_melt.loc[children_born_melt['year'] > 1899] # maybe no need to include the 1800s
children_born_melt.head()

               country  year  children_per_woman
0          Afghanistan  1800                7.00
1              Albania  1800                4.60
2              Algeria  1800                6.99
3               Angola  1800                6.93
4  Antigua and Barbuda  1800                5.00

In [5]:
# child mortality = 0-5 years olds deaths per 1000 newborns
child_mort = pd.read_csv('../data/child_mortality_0_5_year_olds_dying_per_1000_born.csv')
child_mort_melt = child_mort.melt(id_vars='geo', var_name='year', value_name='child_mortality')
child_mort_melt['year'] = child_mort_melt['year'].astype(int)
child_mort_melt = child_mort_melt.rename(columns={'geo': 'country'})
# child_mort_melt = child_mort_melt.loc[child_mort_melt['year'] > 1899] # maybe no need to include the 1800s
child_mort_melt.head()

       country  year  child_mortality
0  Afghanistan  1800            469.0
1      Albania  1800            375.0
2      Algeria  1800            460.0
3      Andorra  1800              NaN
4       Angola  1800            486.0

In [6]:
# CO2 emissions (tonne per person?)
co2 = pd.read_csv('../data/co2_emissions_tonnes_per_person.csv')
co2_melt = co2.melt(id_vars='geo', var_name='year', value_name='co2_emissions')
co2_melt['year'] = co2_melt['year'].astype(int)
co2_melt = co2_melt.rename(columns={'geo': 'country'})
# co2_melt = co2_melt.loc[co2_melt['year'] > 1899] # maybe no need to include the 1800s
co2_melt.head()

       country  year  co2_emissions
0  Afghanistan  1800            NaN
1      Albania  1800            NaN
2      Algeria  1800            NaN
3      Andorra  1800            NaN
4       Angola  1800            NaN

In [7]:
# Pop density
pop_dens = pd.read_csv('../data/population_density_per_square_km.csv')
pop_dens_melt = pop_dens.melt(id_vars='geo', var_name='year', value_name='pop_density')
pop_dens_melt['year'] = pop_dens_melt['year'].astype(int)
pop_dens_melt = pop_dens_melt.rename(columns={'geo': 'country'})
# pop_dens_melt = pop_dens_melt.loc[pop_dens_melt['year'] > 1899] # maybe no need to include the 1800s
pop_dens_melt.head()

       country  year  pop_density
0  Afghanistan  1950        11.90
1      Albania  1950        46.10
2      Algeria  1950         3.73
3      Andorra  1950        13.20
4       Angola  1950         3.65

In [8]:
life_exp = pd.read_csv('../data/life_expectancy_years.csv')
life_exp_melt = life_exp.melt(id_vars='geo', var_name='year', value_name='life_expectancy')
life_exp_melt['year'] = life_exp_melt['year'].astype(int)
life_exp_melt = life_exp_melt.rename(columns={'geo': 'country'})

life_exp_melt.head()

       country  year  life_expectancy
0  Afghanistan  1800             28.2
1      Albania  1800             35.4
2      Algeria  1800             28.8
3      Andorra  1800              NaN
4       Angola  1800             27.0

In [9]:
income = pd.read_csv('../data/income_per_person_gdppercapita_ppp_inflation_adjusted.csv')
income_melt = income.melt(id_vars='geo', var_name='year', value_name='income')
income_melt['year'] = income_melt['year'].astype(int)
income_melt = income_melt.rename(columns={'geo': 'country'})

income_melt.head()

       country  year  income
0  Afghanistan  1800     603
1      Albania  1800     667
2      Algeria  1800     715
3      Andorra  1800    1200
4       Angola  1800     618

In [10]:
# temp_df['Income group'] = temp_df['Income group'].str.rpartition()[0]
# temp_df.drop('X', axis=1).to_csv('../data/income-group.csv', index=False)
income_group = pd.read_csv('../data/income-group.csv')
income_group = income_group.rename(columns={'Economy': 'country', 'Income group': 'income_group'})
income_group.head()

          country Code                      Region  income_group
0     Afghanistan  AFG                  South Asia           Low
1         Albania  ALB       Europe & Central Asia  Upper middle
2         Algeria  DZA  Middle East & North Africa  Upper middle
3  American Samoa  ASM         East Asia & Pacific  Upper middle
4         Andorra  AND       Europe & Central Asia          High

In [11]:
country_regions = pd.read_csv('../data/countries-regions.csv')
country_regions = country_regions.rename(columns={'name': 'country'})
country_regions.head()

,country,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

Fix country names to be the same from different sources... yawn...

In [12]:
landlocked_countries['country'].shape

(48,)

In [13]:
country_regions['country'].shape

(249,)

In [14]:
income_group['country'].shape

(218,)

In [15]:
pop_melt['country'].unique().shape

(195,)

## Normalize names of the population regions data frame to the melted data frames

In [16]:
pop_melt.loc[pop_melt['year'] == 2018, ['country', 'population']].loc[~pop_melt['country'].isin(country_regions['country'])]

                              country  population
42530                         Bolivia    11200000
42534                          Brunei      434000
42541                      Cape Verde      553000
42548                Congo, Dem. Rep.    84000000
42549                     Congo, Rep.     5400000
42551                   Cote d'Ivoire    24900000
42555                  Czech Republic    10600000
42588                            Iran    82000000
42600                 Kyrgyz Republic     6130000
42601                             Lao     6960000
42610                  Macedonia, FYR     2090000
42621           Micronesia, Fed. Sts.      106000
42622                         Moldova     4040000
42637                     North Korea    25600000
42642                       Palestine     5050000
42652                          Russia   144000000
42663                 Slovak Republic     5450000
42668                     South Korea    51200000
42672             St. Kitts and Nevis       55900
42673                       St. Lucia      180000
42674  St. Vincent and the Grenadines      110000
42677                       Swaziland     1390000
42680                           Syria    18300000
42682                        Tanzania    59100000
42695                  United Kingdom    66600000
42696                   United States   327000000
42700                       Venezuela    32400000
42701                         Vietnam    96500000

In [17]:
# country_regions.loc[country_regions['country'] == 'Bahamas', 'country'] = 'Bahamas, The'
country_regions.loc[country_regions['country'].str.startswith('Bolivia'), 'country'] = 'Bolivia'
country_regions.loc[country_regions['country'].str.startswith('Congo (Dem'), 'country'] = 'Congo, Dem. Rep.'
country_regions.loc[country_regions['country'] == 'Congo', 'country'] = 'Congo, Rep.'
country_regions.loc[country_regions['country'].str.startswith('Czhechia'), 'country'] = 'Czech Republic'
country_regions.loc[country_regions['country'].str.startswith('Czechia'), 'country'] = 'Czech Republic'
country_regions.loc[country_regions['country'].str.startswith('Iran'), 'country'] = 'Iran'
country_regions.loc[country_regions['country'].str.startswith('Kyrgyzstan'), 'country'] = 'Kyrgyz Republic'
country_regions.loc[country_regions['country'].str.startswith('Korea (Rep'), 'country'] = 'South Korea'
country_regions.loc[country_regions['country'].str.startswith('Korea (Dem'), 'country'] = 'North Korea'
country_regions.loc[country_regions['country'].str.startswith('Macedonia'), 'country'] = 'Macedonia, FYR'
country_regions.loc[country_regions['country'].str.startswith('Moldova'), 'country'] = 'Moldova'
country_regions.loc[country_regions['country'].str.startswith('Slovakia'), 'country'] = 'Slovak Republic'
country_regions.loc[country_regions['country'].str.startswith('Russian'), 'country'] = 'Russia'
country_regions.loc[country_regions['country'].str.startswith('Palestine'), 'country'] = 'Palestine'
country_regions.loc[country_regions['country'].str.startswith('Syria'), 'country'] = 'Syria'
country_regions.loc[country_regions['country'].str.startswith('United Kingdom'), 'country'] = 'United Kingdom'
country_regions.loc[country_regions['country'].str.startswith('United States'), 'country'] = 'United States'
country_regions.loc[country_regions['country'].str.startswith('Venezuela'), 'country'] = 'Venezuela'
country_regions.loc[country_regions['country'].str.startswith('Viet Nam'), 'country'] = 'Vietnam'
country_regions.loc[country_regions['country'].str.startswith('Tanzania'), 'country'] = 'Tanzania'
country_regions.loc[country_regions['country'].str.startswith('Lao'), 'country'] = 'Lao'
country_regions.loc[country_regions['country'].str.startswith('Côte '), 'country'] = "Cote d'Ivoire"
country_regions.loc[country_regions['country'].str.startswith('Eswatini'), 'country'] = 'Swaziland'

In [18]:
country_regions.loc[~country_regions['country'].isin(pop_melt['country'])]

,country,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
7,Anguilla,AI,AIA,660,ISO 3166-2:AI,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
8,Antarctica,AQ,ATA,10,ISO 3166-2:AQ,NaN,NaN,NaN,NaN,NaN,NaN
12,Aruba,AW,ABW,533,ISO 3166-2:AW,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
24,Bermuda,BM,BMU,60,ISO 3166-2:BM,Americas,Northern America,NaN,19.0,21.0,NaN
27,"Bonaire, Sint Eustatius and Saba",BQ,BES,535,ISO 3166-2:BQ,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
30,Bouvet Island,BV,BVT,74,ISO 3166-2:BV,Americas,Latin America and the Caribbean,South America,19.0,419.0,5.0
32,British Indian Ocean Territory,IO,IOT,86,ISO 3166-2:IO,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
33,Brunei Darussalam,BN,BRN,96,ISO 3166-2:BN,Asia,South-eastern Asia,NaN,142.0,35.0,NaN
37,Cabo Verde,CV,CPV,132,ISO 3166-2:CV,Africa,Sub-Saharan Africa,Western Africa,2.0,202.0,11.0
41,Cayman Islands,KY,CYM,136,ISO 3166-2:KY,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
46,Christmas Island,CX,CXR,162,ISO 3166-2:CX,Oceania,Australia and New Zealand,NaN,9.0,53.0,NaN
47,Cocos (Keeling) Islands,CC,CCK,166,ISO 3166-2:CC,Oceania,Australia and New Zealand,NaN,9.0,53.0,NaN
52,Cook Islands,CK,COK,184,ISO 3166-2:CK,Oceania,Polynesia,NaN,9.0,61.0,NaN
57,Curaçao,CW,CUW,531,ISO 3166-2:CW,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
72,Falkland Islands (Malvinas),FK,FLK,238,ISO 3166-2:FK,Americas,Latin America and the Caribbean,South America,19.0,419.0,5.0
73,Faroe Islands,FO,FRO,234,ISO 3166-2:FO,Europe,Northern Europe,NaN,150.0,154.0,NaN
77,French Guiana,GF,GUF,254,ISO 3166-2:GF,Americas,Latin America and the Caribbean,South America,19.0,419.0,5.0
78,French Polynesia,PF,PYF,258,ISO 3166-2:PF,Oceania,Polynesia,NaN,9.0,61.0,NaN
79,French Southern Territories,TF,ATF,260,ISO 3166-2:TF,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
85,Gibraltar,GI,GIB,292,ISO 3166-2:GI,Europe,Southern Europe,NaN,150.0,39.0,NaN
87,Greenland,GL,GRL,304,ISO 3166-2:GL,Americas,Northern America,NaN,19.0,21.0,NaN
89,Guadeloupe,GP,GLP,312,ISO 3166-2:GP,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
90,Guam,GU,GUM,316,ISO 3166-2:GU,Oceania,Micronesia,NaN,9.0,57.0,NaN
92,Guernsey,GG,GGY,831,ISO 3166-2:GG,Europe,Northern Europe,Channel Islands,150.0,154.0,830.0
97,Heard Island and McDonald Islands,HM,HMD,334,ISO 3166-2:HM,Oceania,Australia and New Zealand,NaN,9.0,53.0,NaN
100,Hong Kong,HK,HKG,344,ISO 3166-2:HK,Asia,Eastern Asia,NaN,142.0,30.0,NaN
108,Isle of Man,IM,IMN,833,ISO 3166-2:IM,Europe,Northern Europe,NaN,150.0,154.0,NaN
113,Jersey,JE,JEY,832,ISO 3166-2:JE,Europe,Northern Europe,Channel Islands,150.0,154.0,830.0
131,Macao,MO,MAC,446,ISO 3166-2:MO,Asia,Eastern Asia,NaN,142.0,30.0,NaN
140,Martinique,MQ,MTQ,474,ISO 3166-2:MQ,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
143,Mayotte,YT,MYT,175,ISO 3166-2:YT,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
145,Micronesia (Federated States of),FM,FSM,583,ISO 3166-2:FM,Oceania,Micronesia,NaN,9.0,57.0,NaN
150,Montserrat,MS,MSR,500,ISO 3166-2:MS,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
158,New Caledonia,NC,NCL,540,ISO 3166-2:NC,Oceania,Melanesia,NaN,9.0,54.0,NaN
163,Niue,NU,NIU,570,ISO 3166-2:NU,Oceania,Polynesia,NaN,9.0,61.0,NaN
164,Norfolk Island,NF,NFK,574,ISO 3166-2:NF,Oceania,Australia and New Zealand,NaN,9.0,53.0,NaN
165,Northern Mariana Islands,MP,MNP,580,ISO 3166-2:MP,Oceania,Micronesia,NaN,9.0,57.0,NaN
176,Pitcairn,PN,PCN,612,ISO 3166-2:PN,Oceania,Polynesia,NaN,9.0,61.0,NaN
179,Puerto Rico,PR,PRI,630,ISO 3166-2:PR,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
181,Réunion,RE,REU,638,ISO 3166-2:RE,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
185,Saint Barthélemy,BL,BLM,652,ISO 3166-2:BL,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
186,"Saint Helena, Ascension and Tristan da Cunha",SH,SHN,654,ISO 3166-2:SH,Africa,Sub-Saharan Africa,Western Africa,2.0,202.0,11.0
187,Saint Kitts and Nevis,KN,KNA,659,ISO 3166-2:KN,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
188,Saint Lucia,LC,LCA,662,ISO 3166-2:LC,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
189,Saint Martin (French part),MF,MAF,663,ISO 3166-2:MF,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
190,Saint Pierre and Miquelon,PM,SPM,666,ISO 3166-2:PM,Americas,Northern America,NaN,19.0,21.0,NaN
191,Saint Vincent and the Grenadines,VC,VCT,670,ISO 3166-2:VC,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
201,Sint Maarten (Dutch part),SX,SXM,534,ISO 3166-2:SX,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
207,South Georgia and the South Sandwich Islands,GS,SGS,239,ISO 3166-2:GS,Americas,Latin America and the Caribbean,South America,19.0,419.0,5.0
213,Svalbard and Jan Mayen,SJ,SJM,744,ISO 3166-2:SJ,Europe,Northern Europe,NaN,150.0,154.0,NaN
217,"Taiwan, Province of China",TW,TWN,158,ISO 3166-2:TW,Asia,Eastern Asia,NaN,142.0,30.0,NaN
223,Tokelau,TK,TKL,772,ISO 3166-2:TK,Oceania,Polynesia,NaN,9.0,61.0,NaN
229,Turks and Caicos Islands,TC,TCA,796,ISO 3166-2:TC,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
242,Virgin Islands (British),VG,VGB,92,ISO 3166-2:VG,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
243,Virgin Islands (U.S.),VI,VIR,850,ISO 3166-2:VI,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN

## Normalize names of the income_group data frame to the melted data frames

In [19]:
pop_melt.loc[pop_melt['year'] == 2018, ['country', 'population']].loc[~pop_melt['country'].isin(income_group['country'])]

                     country  population
42521                Bahamas      399000
42534                 Brunei      434000
42541             Cape Verde      553000
42551          Cote d'Ivoire    24900000
42561                  Egypt    99400000
42571                 Gambia     2160000
42582               Holy See         801
42588                   Iran    82000000
42601                    Lao     6960000
42637            North Korea    25600000
42642              Palestine     5050000
42652                 Russia   144000000
42656  Sao Tome and Principe      209000
42668            South Korea    51200000
42680                  Syria    18300000
42700              Venezuela    32400000
42702                  Yemen    28900000

In [20]:
income_group.loc[income_group['country'].str.startswith('Bahamas'), 'country'] = 'Bahamas'
income_group.loc[income_group['country'].str.startswith('Côte'), 'country'] = "Cote d'Ivoire"
income_group.loc[income_group['country'].str.startswith('Egypt'), 'country'] = 'Egypt'
income_group.loc[income_group['country'].str.startswith('Gambia'), 'country'] = 'Gambia'
income_group.loc[income_group['country'].str.startswith('Iran'), 'country'] = 'Iran'
income_group.loc[income_group['country'].str.startswith('Korea, Dem'), 'country'] = 'North Korea'
income_group.loc[income_group['country'].str.startswith('Korea, Rep'), 'country'] = 'South Korea'
income_group.loc[income_group['country'].str.startswith('Lao'), 'country'] = 'Lao'
income_group.loc[income_group['country'].str.startswith('Russia'), 'country'] = 'Russia'
income_group.loc[income_group['country'].str.startswith('Syria'), 'country'] = 'Syria'
income_group.loc[income_group['country'].str.startswith('Venezuela'), 'country'] = 'Venezuela'
income_group.loc[income_group['country'].str.startswith('Yemen'), 'country'] = 'Yemen'
income_group.loc[income_group['country'].str.startswith('West Bank'), 'country'] = 'Palestine'

## Merge data frames

In [21]:
world_data = pd.merge(pop_melt, country_regions[['country', 'region', 'sub-region']], on='country')
world_data = pd.merge(world_data, income_group[['country', 'income_group']], on=['country'])
world_data = pd.merge(world_data, life_exp_melt, on=['country', 'year'])
world_data = pd.merge(world_data, income_melt, on=['country', 'year'])
world_data = pd.merge(world_data, children_born_melt, on=['country', 'year'])
world_data = pd.merge(world_data, child_mort_melt, on=['country', 'year'])
world_data = pd.merge(world_data, pop_dens_melt, on=['country', 'year'], how='left')
world_data = pd.merge(world_data, co2_melt, on=['country', 'year'], how='left')
world_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39201 entries, 0 to 39200
Data columns (total 12 columns):
country               39201 non-null object
year                  39201 non-null int64
population            39201 non-null int64
region                39201 non-null object
sub-region            39201 non-null object
income_group          39201 non-null object
life_expectancy       39201 non-null float64
income                39201 non-null int64
children_per_woman    39201 non-null float64
child_mortality       39199 non-null float64
pop_density           12351 non-null float64
co2_emissions         16500 non-null float64
dtypes: float64(5), int64(3), object(4)
memory usage: 3.9+ MB

In [22]:
world_data.to_csv('../data/world-data-gapminder.csv', index=False)